body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.start-btn, .submit-btn, .home-btn, .question-btn{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #007bff;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.start-btn:hover, .submit-btn:hover, .home-btn:hover, .question-btn:hover {
    background-color: #0056b3;
}
